/* Slick Carousel Styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.responsive-margin {
  margin-left: 35px;
}

.responsive-margin-test {
  margin-left: 100px;
}
@media (min-width: 1024px) {
  .responsive-margin {
    margin-left: 120px;
  }
  .responsive-margin-test {
    margin-left: 220px;
  }
}
